<form class="d-inline" method="post" action="{{ path('app_dish_menu_delete', {'id': dish_menu.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dish_menu.id) }}">
    <button class="btn btn-outline-danger">Delete</button>
</form>
