{% extends 'base.html.twig' %}

{% block title %}Edit DishMenu{% endblock %}

{% block main %}
    <h1>Edit DishMenu</h1>

    {{ include('dish_menu/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dish_menu_index') }}">back to list</a>

    {{ include('dish_menu/_delete_form.html.twig') }}
{% endblock %}
