{% extends 'base.html.twig' %}

{% block title %}New DishMenu{% endblock %}

{% block main %}
    <h1>Create new DishMenu</h1>

    {{ include('dish_menu/_form.html.twig') }}

    <a href="{{ path('app_dish_menu_index') }}">back to list</a>
{% endblock %}
