{% extends 'base.html.twig' %}

{% block title %}Edit DishDay{% endblock %}

{% block main %}
    <h1>Edit DishDay</h1>

    {{ include('dish_day/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dish_day_index') }}">back to list</a>

    {{ include('dish_day/_delete_form.html.twig') }}
{% endblock %}
