<form action="{{ path('app_dish_search_menu_category') }}" method="post" class="mb-3">
    <input type="hidden" name="field" value="dishMenu">
    <button class="btn btn-primary">Buscar</button>
    <div class="col-4 col-md-3 col-lg-8 text-center text-sm-start d-inline-block ms-2">
        <select name="critery" id="category" required>
            <option value="">- Selecciona -</option>
        {% for category in menu_categories %}
            <option value="{{ category.id }}">{{ category }}</option>
        {% endfor %}                                                     
        </select> 
    </div>                  
</form> 