{% extends 'base.html.twig' %}

{% block title %}My Restaurant | admin{% endblock %}

{% block main %}
<div class="row">
    <h3 class="text-center pb-2">MENÚ PRINCIPAL</h3>
    
    <div class="mx-auto mb-3 bg-success bg-opacity-10 adminMenus">
        <h4 class="text-center">PLATOS</h4>
        <a class="btn btn-primary mb-5" href="{{ path('app_dish_index') }}">Listado</a>
        <hr />

        <h4 class="text-center">PRECIO MENÚ DÍA</h4>
        <div class="row mb-3">
           {% include "/menu_day_price/_form.html.twig" %}                                           
        </div>            
    </div>
    <div class="mx-auto mb-3 bg-success bg-opacity-10 adminMenus">
        <h4 class="text-center">USUARIOS</h4>
        <form action="#" method="post"><input type="submit" class="btn btn-primary mb-5" name="action" value="Listado"></form>
    </div> 
    <div class="mx-auto mb-3 bg-success bg-opacity-10 adminMenus">
        <h4 class="text-center">CATEGORIAS</h4>
        <a class="btn btn-primary mb-5" href="#">Listado</a>
    </div>                                                                                   
</div> 
{% endblock %}
