{% extends 'base.html.twig' %}

{% block title %}My Restaurant | Error{% endblock %}

{% block main %}
<section class="col-12 col-md-9 col-lg-7 col-xl-6 mx-auto float-none">
    <h2 class="text-center">Error section</h2>
    <p>There was an error. Please contact the administrator at the following email: <strong><em>"admin@example.com"</em></strong></p>    
</section>
{% endblock %}
