{% extends 'base.html.twig' %}

{% block title %}My Restaurant | Menu{% endblock %}

{% block section %}
                                            <!--- SECTION WITH INFO -->
    <section class="col-12 col-lg-9 p-sm-0 pe-lg-3">
        <div class="col mb-3 mainImg"></div>
        <div class="row mb-3">
            <div class="col d-flex justify-content-center align-items-center mb-3">
                <h2 class="m-0 me-2">Nuestra Carta</h2>
                <img class="img-fluid mainLogo" src="{{ asset("images/menu.png") }}" alt="logo">
            </div>
        </div>
        <div class="row">
                                            <!--- SHOW MENU'S SECTIONS -->
        {% for k, i in 1..groups %}
            <div class="col-6 col-md-4 col-lg-3">
                <ul>
                {% for id, section in sections|slice(k * elements, elements * i) %}
                    {% if id < elements  %}
                    <li><a href="{{ path('app_dishes_category', {'category': section|lower}) }}">{{ section }}</a></li> 
                    {% endif %}                                                                                                          
                {% endfor %}
                </ul>
            </div>
        {% endfor %}            
        </div>               		     
    </section>
{% endblock %}
