{% extends 'base.html.twig' %}

{% block title %}My Restaurant | Menu{% endblock %}

{% block section %}
                                            <!--- SECTION WITH INFO -->
    <section class="col-12 col-lg-9 p-sm-0 pe-lg-3 mb-3 mb-xl-0">
        <div class="col mb-3 menuImg"></div>
        <div class="row mb-3">
            <div class="col-12 col-md-3 col-lg-2 col-xl-1 d-flex justify-content-center align-items-center">            
                <figure class="figure">							
                    <a href="{{ path('app_pdf_generator_menu') }}" target="_blank"><img class="figure-img img-fluid menuLogo" src="{{ asset("images/menu.png") }}" alt="logo"></a>                            
                    <figcaption class="figure-caption text-center">Carta</figcaption>
                </figure>               						
            </div>
            <div class="col-12 col-md-6 col-lg-8 col-xl-10 d-flex justify-content-center align-items-center">
                <h2 class="m-0 me-2">Nuestra Carta</h2> 
            </div>           
        </div>
        <div class="row">
                                            <!--- SHOW MENU'S SECTIONS -->
        {% for k, i in 1..groups %}
            <div class="col-6 col-md-4 col-lg-3">
                <ul>
                {% for id, section in sections|slice(k * elements, elements * i) %}
                    {% if id < elements  %}
                    <li><a href="{{ path('app_dishes_category', {'category': section|lower}) }}">{{ section }}</a></li> 
                    {% endif %}                                                                                                          
                {% endfor %}
                </ul>
            </div>
        {% endfor %}            
        </div>               		     
    </section>
{% endblock %}
