{% extends 'base.html.twig' %}

{% block title %}My Restaurant | Comandas{% endblock %}

{% block main %}
<section class="col-12 p-3 p-lg-0 pe-lg-3">
    <h2 class="text-center mb-5">Current Orders</h2>
    <div class="row d-flex justify-content-evenly">
        {% for order in orders %}
            <div class="col-12 col-md-4 col-lg-3 col-xl-2 mb-5 text-center">
                <div class="w-100 menuDia">
                    <h4 class="col-5 d-inline-block"><strong>Table:</strong>{{ order.tableNumber }}</h4>
                    <h4 class="col-5 d-inline-block"><strong>Quantity:</strong> {{ order.peopleQty }}</strong></h4>
                    <a class="btn btn-outline-success" href="{{ path('app_order_show', {'id': order.id}) }}">See data</a>
                </div>
            </div>
        {% endfor %}                
    </div>
</section>
{% endblock %}
