{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block main %}    
    <section class="col-12 col-md-9 col-lg-7 col-xl-6 mx-auto float-none credentials">
        <h3 class="text-center">EDIT USER</h3>
        {# {{ include('user/_form.html.twig', {'button_label': 'Update'}) }} #}
        {{ include('user/_edit_form.html.twig') }}                    
    </section>    
{% endblock %}
